#fb-logout,#fb-login {
  background-color: #3C5A99;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  padding: 14px 50px 14px 60px;
  border: none;
  text-align: left;
  line-height: 20px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 17px;
  color: #fff;
}

#fb-logout:before,#fb-login:before {
  content: "";
  background: url('../img/fb-icon.svg') no-repeat 12px 12px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

#fb-logout:focus,#fb-login:focus {
  outline: none;
}

#fb-logout:hover,#fb-login:hover,
#fb-logout:focus,#fb-login:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
